<header>
  <nav>
    <a href="/">PlacementCell</a>
    <uL>
      <li><a href="/student">Students</a></li>
      <li><a href="/student/add_student">Add student </a></li>
      <li><a href="/user/register">Register here </a></li>
      <li><a href="/user/login">Login here </a></li>
      <li><a href="/interview">All Interviews </a></li>
      <li><a href="/interview/create_interview">Add Company </a></li>

    </uL>
  </nav>
</header>