
<h1>Home page</h1>
<a href="/dashboard/aa">Download report</a><br><br>

<%for(let i of students){%>
<%=i.username%><br>
<%=i.college%><br>
<%= i.batch %><br>
<h5>List of interviews</h5>
<%for(let j of i.company){%>
    <%=j.company%><br>
<<<<<<< HEAD
=======
    
>>>>>>> 0603d45fec33ffb9d3755f72c1d93735db045f2c
<%}%>
<br>
    <%}%><br>

    <hr>

<<<<<<< HEAD

=======
>>>>>>> 0603d45fec33ffb9d3755f72c1d93735db045f2c
