<form action="/student/add_student" method="POST">
    <input type="text" name="username" placeholder="username" /><br>
    <input type="email" name="email" placeholder="email" /><br>
    <input type="text" name="college" placeholder="college" /><br>
    <input type="text" name="batch" placeholder="batch" /><br>
    <select>Status of your placement
      <option name="status" value="not placed">not placed</option>
      <option name="status" value="placed">placed</option>      
    </select><br>
    <input type="number" name="DSA" placeholder="DSA score" /><br>
    <input type="number" name="Webdev" placeholder="WebDev score" /><br>
    <input type="number" name="React" placeholder="React score" /><br>
    
    <button>submit</button>
  </form>