<h1>All Interviews</h1>
<hr>
<%for(let i of companies){%>
    <%= i.company%><br>
    <a href="/company/update/<%=i._id%>">Edit</a>
    <a href="/company/delete/<%=i._id%>">delete</a><br><br>
    <hr>
<%}%>
