
<form method="POST">
<<<<<<< HEAD
  <h2 style="margin:20px 50px">Apply Here</h2>
  <input type="text" id="inp" name="students" placeholder="student application id" /><br/>
  <input type="text" id="inp" placeholder="skills"/><br/>
  <input type="text" id="inp" placeholder="Pass percentage in latest degree"/><br/>
  <input type="text" id="inp" placeholder="projects"/><br/>
  <input type="text" id="inp" placeholder="social profiles"/><br/>

  <p>Upload resume</p><input class="inp" type="file" placeholder="upload Resume"/><br/>
  <button class="submit">submit</button>
  </form>

  <style>
    #inp{
      width:250px;
      height:30px;
      margin:10px 0px 10px 50px;
      padding:5px;
      border:2px black;
      border-bottom: solid;
      border-radius:8px;
    }
    p{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      margin:10px 1px 1px 50px;
    }
.inp{
  width:250px;
      height:30px;
      margin:10px 0px 10px 50px;
      padding:5px;
      border-radius:8px;
}

    .submit{
      width:70px;
      height:40px;
      border-radius:8px;
      border:5px black;
      margin:30px;
      cursor:pointer;
    }

    .submit:hover{
      background: black;
      border-radius:8px;
      color:white;
    }
  </style>
=======
  <input type="text" name="students" placeholder="student application id"/><br/>
  <input type="text" placeholder="skills"/><br/>
  <input type="text" placeholder="Pass percentage in latest degree"/><br/>
  <input type="text" placeholder="projects"/><br/>
  <input type="text" placeholder="social profiles"/><br/>

  <p>Upload resume</p><input type="file" placeholder="upload Resume"/>
  <button>submit</button>
  </form>
>>>>>>> 0603d45fec33ffb9d3755f72c1d93735db045f2c
