
<form method="POST">
  <input type="text" name="students" placeholder="student application id"/><br/>
  <input type="text" placeholder="skills"/><br/>
  <input type="text" placeholder="Pass percentage in latest degree"/><br/>
  <input type="text" placeholder="projects"/><br/>
  <input type="text" placeholder="social profiles"/><br/>

  <p>Upload resume</p><input type="file" placeholder="upload Resume"/>
  <button>submit</button>
  </form>
