<h4> <%=student.username%> applied to <%= company.company%> Interview </h4>  
<form method="POST">

    <h4>Results</h4>
    <input type="radio" name="result" id="pass" value="Pass" />
    <label for="pass">Pass</label><br/>
    <input type="radio" name="result" id="Fail" value="Fail" />
    <label for="Fail">Fail</label><br>
    <input type="radio" name="result" id="OnHold" value="OnHold" />
    <label for="Hold-on">OnHold</label><br>
    <input type="radio" name="result" id="Didn't-attempt" value="Didn't Attempt" />
    <label for="Didn't-attempt">Didn't attempt</label><br><br/>
    <hr>
   
    
    <button>submit</button><br/>
  </form>