

<h4>Please apply for the companies below</h4>

<br>
<%for(let i of companies){%>
    <a href="/student/register/<%=i._id%>/enroll"><%= i.company%></a><br>
    <%= i.ctc%>LPA<br>

<%}%>  
    <br><br>
