
<h5>Interviews list</h5>
<h2>Status of the applied candidates</h2>

<ol>
    <%for(let j of companies){%>
        <li>
            <div>
                <p><%= j.company%></p>
                <p><a href="/interview/update/<%=j._id%>">Edit</a></p>
                <p><a href="/interview/delete/<%=j._id%>">Delete</a></p>
            </div>
        </li>
    <%}%>

</ol>

<style>
    #inp{
      width:250px;
      height:30px;
      margin:10px 0px 10px 50px;
      padding:5px;
      border:2px black;
      border-bottom: solid;
      border-radius:8px;
    }
    p{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
      margin:10px 1px 1px 50px;
    }
.inp{
  width:250px;
      height:30px;
      margin:10px 0px 10px 50px;
      padding:5px;
      border-radius:8px;
}

    .submit{
      width:70px;
      height:40px;
      border-radius:8px;
      border:5px black;
      margin:30px;
      cursor:pointer;
    }

    .submit:hover{
      background: black;
      border-radius:8px;
      color:white;
    }
  </style>
