

<h2> All Users</h2>

  <%for(let i of user){%>
  <h3><%= i.name%>    </h3>
  <p><%= i.email%>    </p>
  <a href="/">Edit</a><br><a href="/">delete</a><br>
      
  <%}%>

<form action="/user/login" method="POST">
    <input type="email" name="email" placeholder="email" /><br>
    <input type="password" name="password" placeholder="password" /><br>
    <button>submit</button>
  </form>
